html,
body {
  height: 100%;
  width: 100%;
  background: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
a {
  color: #00b3d9;
  text-decoration: none;
  transition: all 1s;
}
a:hover {
  transition: all 0.3s;
  color: #FFF;
}
h1,
h2 {
  font-size: 2.3em;
  color: #00b3d9;
  text-transform: uppercase;
  font-weight: 300;
}
p {
  font-size: 0.9em;
  font-weight: 300;
  color: #e8e9ea;
  line-height: 1.6em;
}
i {
  font-weight: 100;
}
strong {
  color: #e01b6a;
}
pre {
  border: none;
  border-radius: 0;
  margin-top: 3em !important;
}
.square-button {
  color: #e8e9ea;
  border: thin solid #e8e9ea;
  background: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 300;
  margin: 2em auto;
  max-width: 300px;
  transition: all 1s;
}
.square-button:hover {
  transition: all 0.3s;
  color: #0080bf;
  border: thin solid #0080bf;
  text-decoration: none;
  font-weight: 300;
}
.bugfix-label {
  background: #5D9D08;
  color: #FFF;
  padding: 2px 8px;
  font-size: 0.6em;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.enhancement-label {
  background: #e01b6a;
  color: #FFF;
  padding: 2px 8px;
  font-size: 0.6em;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
nav {
  padding: 2em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
#main-navigation {
  float: right;
}
#main-navigation li {
  display: inline-block;
  padding: 0 1em;
}
#main-navigation a {
  color: #ff4551;
}
#main-navigation a:hover {
  text-decoration: none;
}
#nav-toggle {
  border: thin solid #00b3d9;
  background: #FFF;
  padding: 12px 25px;
  top: 15px;
  position: relative;
  border-radius: 25px;
}
#nav-toggle:hover {
  background: #00b3d9 !important;
}
#aragonite {
  display: block;
  width: 100%;
  height: 100%;
}
.required {
  border: thin solid #ff4551 !important;
  background: #FCF0F0 !important;
}
.customClass {
  border: thin solid #ff4551 !important;
  background: #ff4551 !important;
  color: #FFF !important;
}
.how {
  background: #FFF;
  width: 100%;
  height: 100%;
}
.how-title {
  font-weight: 300;
  display: block;
  padding-top: 100px;
}
.how-square-button {
  color: #e8e9ea;
  border: thin solid transparent;
  background: #ff4551;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 300;
  margin: 2em auto;
  max-width: 300px;
  transition: all 1s;
  margin-left: 0;
  text-align: center;
  max-width: 200px;
  color: #FFF;
}
.how-square-button:hover {
  transition: all 0.3s;
  color: #0080bf;
  border: thin solid #0080bf;
  text-decoration: none;
  font-weight: 300;
}
.how-square-button:hover {
  color: #ff4551;
  border: thin solid #ff4551;
  background: #FFF;
}
.how-paragraph {
  font-weight: 300;
  display: block;
  /*margin: auto;
    margin-bottom: 1em;
    max-width: 450px;*/
  color: #777777;
}
.instruction {
  padding-top: 160px;
}
.instruction p {
  font-style: italic;
}
.how-form {
  display: block;
  margin: auto;
}
.how-form input {
  display: block;
  background: #f2f2f2;
  border: thin solid #f2f2f2;
  color: #000;
  font-style: italic;
  font-size: 0.9em;
  font-weight: 100;
  padding: 20px;
  border: none;
  margin: 5px auto;
  width: 100%;
  position: relative;
}
.how-title-strong {
  color: #00b3d9;
  display: block;
}
#demo {
  width: 100%;
  height: 100%;
  background: url('../images/basic.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}
#demo p {
  max-width: 500px;
  font-weight: 500;
}
.demo-title {
  font-weight: 300;
  display: block;
  color: #FFF;
}
.demo-title strong {
  color: #ff2b39;
}
.aragonite-text-group {
  background: #FFF;
  max-width: 500px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 5px;
  position: relative;
}
.aragonite-square-button {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px 20px;
  background: #ff1221;
  font-size: 0.9em;
}
.aragonite-square-button:hover {
  background: #f70010;
  color: #FFF;
  border: thin solid #FFF;
}
.aragonite-label {
  display: block;
  padding-left: 5px;
  color: #222;
  margin-bottom: 0;
  font-size: 0.9em;
  position: relative;
  bottom: 20px;
}
.aragonite-input {
  width: 100%;
  border: none;
  font-size: 0.9em;
  padding-left: 5px;
  color: #2c2c2c;
  outline: 0;
  border-bottom-left-radius: 4px;
  padding-bottom: 2px;
  position: relative;
  top: 20px;
}
.aragonite-input:focus ~ .aragonite-label {
  color: #CCC !important;
  transition: color 0.5s;
}
ul.nav.nav-tabs {
  margin-top: 3em;
}
.tab-content {
  margin-top: -39px;
}
pre[class*="language-"] {
  background: #FFF;
}
@media only screen and (max-width: 480px) {
  nav {
    padding: 15px;
  }
  .how-title {
    padding-top: 60px;
  }
}
